* {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0%;
    padding: 0%;

}

body {
    background: #f5f5f5;
}

.image {
    background-image: url('images/img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;

    width: 100%;
     -webkit-mask-image: linear-gradient(
        to bottom,
        transparent 0%,
        black 25%,
        black 75%,
        transparent 100%
    );
    mask-image: linear-gradient(
        to bottom,
        transparent 0%,
        black 25%,
        black 75%,
        transparent 100%
    );
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.navbar ul {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 20px;
    list-style-type: none;
}

.navbar a {
    color: rgb(0, 0, 0);
    display: block;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.btn {
    color: white;
    border: none;
    background-color: #615FFF;
    border-radius: 20px;
}

.btn:hover {
    background-color: #5e5cdd;
    border-radius: 20px;
}

.linkHover:hover {
    background-color: rgb(228, 226, 226);
    border-radius: 20px;
    text-align: center;
}

#logo {
    font-size: 15px;
    font-style: italic;
}

h1 {
    color: #0000a3b5;
    display: flex;
    justify-content: center;
}

#p1 {
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.btn1 {
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 50px;
    border: none;
    color: red;
    align-items: center;
    background-color: #615FFF;
}

.btnParent {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.btn1 a {
    text-decoration: none;
    font-size: 15px;
    color: white;
}

.btn1:hover {
    background-color: #5e5cdd;
}

h2 {
    display: flex;
    justify-content: center;
    color: #0000a3b5;
}

.cardparent {
    display: flex;
    justify-content: space-evenly;
    margin:6px auto;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 5%;
    padding: 20px;
}
.card{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgb(0, 0, 0.2);
    flex: 1;
    min-width: 200px;
    cursor: pointer;
}
.card img{
    width: 100%;
    height: auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-bottom: 10px;
}
.card .content{
    padding: 15px;

}
.card .content h3{
    font-size: 26px;
    margin-bottom: 10px;   
}

.imageOne {
    background-image: url('images/water.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;

    width: 100%;
    -webkit-mask-image: linear-gradient(
        to bottom,
        transparent 0%,
        black 25%,
        black 75%,
        transparent 100%
    );
    mask-image: linear-gradient(
        to bottom,
        transparent 0%,
        black 25%,
        black 75%,
        transparent 100%
    );
}